= form_for @tqa_aspect do |f|
  - if @tqa_aspect.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tqa_aspect.errors.count, "error")} prohibited this tqa_aspect from being saved:"
      %ul
        - @tqa_aspect.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :percent_run
    = f.text_field :percent_run
  .field
    = f.label :percent_pass
    = f.text_field :percent_pass
  .field
    = f.label "TQA Category"
    =# f.collection_select :country_id, Country.all, :id, :name
    =# f.collection_select :tqa_category_id, @tqa_categories, :id, :name
    =# f.select(:tqa_category_id,  @tqa_categories.map {|p| [p.name,p.id]})
    = f.select(:tqa_category_id, @tqa_categories.map {|p| [p.name,p.id]}, :selected => @tqa_categories.first.id)


  .actions
    = f.submit 'Save'
