%h1 Epics
%br

%div{ style: "float:left;"} Open:
%div{ class: "key-color-sample", style: "background-color:Red;"}
%div{ style: "float:left;"} In Progress:
%div{ class: "key-color-sample", style: "background-color:Yellow;"}
%div{ style: "float:left;"} Reopened:
%div{ class: "key-color-sample", style: "background-color:Orange;"}
%div{ style: "float:left;"} Resolved:
%div{ class: "key-color-sample", style: "background-color:Brown;"}
%div{ style: "float:left;"} QA Ready:
%div{ class: "key-color-sample", style: "background-color:Blue;"}
%div{ style: "float:left;"} Client Review:
%div{ class: "key-color-sample", style: "background-color:Purple;"}
%div{ style: "float:left;"} Closed:
%div{ class: "key-color-sample", style: "background-color:Green;"}
%br
%br

%table
  %thead
    %tr
      %th Epic Names
      %th

  %tbody
    - @epics.each do |epic|
      - statuses = epic[:issue_statuses]
      - statuses_sum = statuses.values.sum.to_f
      %tr
        %td= epic[:key]
        %td
          %div{ class: "epic-graph-section"}
            -if statuses_sum && statuses_sum >0
              -if statuses["Open"]
                %div{ class: "epic-graph", style: "background-color:Red;width:#{(statuses["Open"]/statuses_sum)*100}%;"}
              -if statuses["In Progress"]
                %div{ class: "epic-graph", style: "background-color:Yellow;width:#{(statuses["In Progress"]/statuses_sum)*100}%;"}
              -if statuses["Reopened"]
                %div{ class: "epic-graph", style: "background-color:Orange;width:#{(statuses["Reopened"]/statuses_sum)*100}%;"}
              -if statuses["Resolved"]
                %div{ class: "epic-graph", style: "background-color:Brown;width:#{(statuses["Resolved"]/statuses_sum)*100}%;"}
              -if statuses["QA Ready"]
                %div{ class: "epic-graph", style: "background-color:Blue;width:#{(statuses["QA Ready"]/statuses_sum)*100}%;"}
              -if statuses["Client Review"]
                %div{ class: "epic-graph", style: "background-color:Purple;width:#{(statuses["Client Review"]/statuses_sum)*100}%;"}
              -if statuses["Closed"]
                %div{ class: "epic-graph", style: "background-color:Green;width:#{(statuses["Closed"]/statuses_sum)*100}%;"}
%br
