= form_for @tqa_category do |f|
  - if @tqa_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tqa_category.errors.count, "error")} prohibited this tqa_category from being saved:"
      %ul
        - @tqa_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
